server:
  port: 21101

spring:
  cloud:
    gateway:
      routes:
        - id: Main_Component_Microservice
          uri: http://localhost:21121/
          predicates:
            - Path=/main/api/v1.0/**

        - id: MwSt_Microservice
          uri: http://localhost:21111/
          predicates:
            - Path=/mwst/api/v1.0/**
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: DEBUG